nav {
  background-color: #8d0707; /* Couleur de fond de la barre de navigation */
  color: white; /* Couleur du texte de la barre de navigation */
  text-align: center; /* Centrer le texte */
  font-size: 10px; /* Taille de la police réduite pour mobile */
  font-family: 'Times New Roman', Times, serif; /* Police de caractères */
  font-weight: bold; /* Texte en gras */
  padding: 10px; /* Espacement intérieur */
  display: flex; /* Utilisation de flexbox pour la mise en page */
  justify-content: space-around; /* Espacement égal autour des éléments */
}

a {
  color: orange; /* Couleur des liens */
  text-decoration: none; /* Suppression du soulignement */
  font-size: 15px; /* Taille de la police ajustée pour mobile */
}

body {
  color: black; /* Couleur du texte */
  background-color: beige; /* Couleur de fond */
}

.paragraphe p {
  text-align: center; /* Centrer le texte */
  background-color: rgba(255, 255, 255, 0.5); /* Fond blanc avec une opacité de 50% */
  padding: 10px; /* Espacement intérieur */
  border-radius: 5px; /* Bords arrondis */
  font-size: 25px; /* Taille de la police */
  font-family: 'Times New Roman', Times, serif; /* Police de caractères */
  font-weight: bold; /* Texte en gras */
  padding: 10px; /* Espacement intérieur (répété) */
  margin-left: 50px; /* Marge à gauche réduite pour mobile */
  margin-right: 50px; /* Marge à droite réduite pour mobile */
}

.images {
  display: flex; /* Utilisation de flexbox pour la mise en page des images */
  justify-content: space-around; /* Espacement égal autour des images */
  flex-wrap: wrap; /* Permet de passer à la ligne pour les images */
  margin-top: 2px; /* Marge supérieure réduite pour mobile */
}

h1 {
  color: #ff0000; /* Couleur rouge pour le titre de niveau 1 */
  font-size: 30px; /* Taille de la police ajustée pour mobile */
  font-family: 'Times New Roman', Times, serif; /* Police de caractères */
  font-weight: bold; /* Texte en gras */
  text-align: center; /* Centrer le texte */
}

h2 {
  color: rgb(0, 153, 255); /* Couleur bleu clair pour le titre de niveau 2 */
  font-size: 30px; /* Taille de la police ajustée pour mobile */
  font-family: 'Times New Roman', Times, serif; /* Police de caractères */
  font-weight: bold; /* Texte en gras */
  text-align: center; /* Centrer le texte */
}

h3 {
  color: orange; /* Couleur orange pour le titre de niveau 3 */
  font-size: 25px; /* Taille de la police ajustée pour mobile */
  font-family: 'Times New Roman', Times, serif; /* Police de caractères */
  font-weight: bold; /* Texte en gras */
  text-align: center; /* Centrer le texte */
}

footer p {
  color: #000000; /* Couleur noire pour le texte du pied de page */
  margin-left: 5px; /* Marge à gauche réduite pour mobile */
  margin-right: 5px; /* Marge à droite réduite pour mobile */
  font-size: 10px; /* Taille de la police réduite pour mobile */
}
