@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: Arial, sans-serif;
}

:root {
  --bg-color: #1f242d;
  --second-color: #323946;
  --text-color: #fff;
  --main-color: #0ef;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}


h4 {
  font-size: 1.5em;
  font-family: arial, sans-serif;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 5%;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  
}

.header.sticky {
  border-bottom: .1rem solid rgba(0, 0, 0, 0.2);
}

.logo {
  font-size: 2rem;
  font-weight: 600;
  cursor: default;
}



.navbar a {
  font-size: 1.5rem;
  color: var(--text-color);
  margin-left: 2rem;
  transition: .3s;
  font-family: arial,sans-serif;
}


.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}


#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
}

.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 0 9%;
}

.home h1 {
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.2;
}

.home h1 span {
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 1.2;
    color: var(--main-color);
  }
.home-img-cerlce {
    width: 30vw;
    height: 35vw;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.home-img-cerlce img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    margin-left:-1rem;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}
  
.social-media a:hover {
    background: var(--main-color);
    color: var(--second-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    background: var(--main-color);
    color: var(--second-color);
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 2rem;
    margin-top: 2rem;
    transition: .5s;
}

.btn:hover {
    background: var(--second-color);
    color: var(--main-color);
}
.home p{
    font-size: 1.5rem;
}
.home h2{
  font-size: 2rem;
}

.title-text {
    font-weight: 400;
    justify-content: center; 
    align-items: center; 
}
.Qui_suis_je {
    display: flex;
    flex-direction: column; 
    align-items: center;
    background-color: var(--second-color);
    font-family: Arial, sans-serif;
}

.title {
    text-align: center;
    margin-bottom: 2rem;
    color:var(--main-color);
    font-size: 10rem;
}

.title-text {
    font-size: 4rem;
}

.about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
    flex-direction: row-reverse; 
}

.about-text {
    font-size: 2.5rem;;
    max-width: 600px;
}

.about-img {
    width: 80vw;
    height: 80vw;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    display: flex;
   

}

.about-img img {
    width: 100%;
    height: auto;
    object-fit: cover; 
    
}

.Mon_parcours {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
}

.Mon_parcours p {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    align-content: center;
}
.timeline {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}
.timeline-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    text-align: center;
}

.timeline-content h3 {
    font-size: 2rem;
    color: var(--main-color);
    margin-bottom: 1rem;
}

.SIN {
    color: #fff; 
    text-decoration: underline; 
    display: inline; 
}

.SIN:hover {
    color: #ffcc00; 
    text-decoration: underline; 
}

.clickable-image {
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.clickable-image:hover {
    transform: scale(1.1);
}



.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: var(--second-color);
}

.portfolio-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 2rem; 
}

.portfolio-item {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre l'image et le texte dans chaque élément */
    justify-content: center;
    text-align: center;
    width: 40vw; /* Ou une autre valeur selon tes préférences */
    margin: 0 auto; /* Centre les éléments horizontalement dans leur conteneur */
  }
  
  .portfolio-item img {
    width: 100%; /* Prend toute la largeur de l'élément parent */
    height: 500px; /* Définit une hauteur fixe pour toutes les images */
    object-fit: cover; /* Assure que l'image couvre l'élément sans déformer le ratio */
    transition: transform 0.3s ease; /* Transition pour l'effet de survol */
    margin-top: 5%;
    margin-bottom: 5%;
}

.portfolio-item:hover img {
    transform: scale(1.2); /* Agrandit l'image au survol (ajustez le facteur ici) */
}

  
.portfolio-item h3,
.portfolio-item p {
    margin-top: 2.5rem; 
    margin-bottom: 0; 
}

.portfolio-item h2 {
    color: var(--main-color);
    font-size: 3.5rem;
    margin-bottom: 1rem;
    margin-top: 2.1rem;
}

.portfolio-item p {
    color: #fff;
    font-size: 2.5rem;
    font-family: Arial, sans-serif;
}

.portfolio-item span {
    color: #ffcc00;
    font-size: 2.5rem;
    font-family: Arial, sans-serif;
}

.contact {
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 4rem 0;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh; 
    text-align: center; /
}

.contact h2 {
    margin-bottom: 3rem;
    font-size: 4.5rem;
}

.contact .contact-content {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 5rem;
    flex-wrap: wrap;
    width: 100%;
    text-align: center; 
  }
  
  .contact-info {
    text-align: center; 
    margin: 0 auto;
    padding: 1rem;
    flex: 1; 
    font-size: 2rem;
}
  
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 1.5rem;
  }
  

.social-icons .icon a {
    font-size: 5rem;
    color: var(--text-color);
    transition: color 0.3s;
}

.social-icons .icon a:hover {
    color: var(--primary-color);
}


.footer-text p {
    font-size: 2.5rem;
    color :#fff;
    text-align: center; 
  }

  .carousel-item {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .carousel-item img {
    width: 50%;
    height: 100%;
    object-fit: cover;
  }
  
  .carousel-caption {
    width: 50%;
    text-align: left;
    padding: 20px;
    background-color: var(--second-color);
    color: white;
    position: static;
  }
  
  .contenue1 {
    display: flex;
    flex-direction: row; /* Change la direction en ligne */
    align-items: center; /* Centre verticalement les éléments */
    justify-content: space-between; /* Espace entre l'image et le texte */
    height: 80vh; /* Hauteur de la section */
    background-color: var(--bg-color);
    padding: 0 2rem; /* Ajoute un peu de padding sur les côtés */
    margin-bottom: -20rem; /* Ajoute un espace en bas */
}

.contenue1 img {
    width: 100%; /* Prend 50% de la largeur de l'élément parent */
    height: 350px; /* Définit une hauteur fixe pour toutes les images */
    object-fit: cover; /* Assure que l'image couvre l'élément sans déformer le ratio */
    transition: transform 0.3s ease; /* Transition pour l'effet de survol */
    margin-top: -10rem; /* Ajuste la position de l'image */
    margin-left: 6rem;
}

.contenue1-txt {
    font-size: 1.5rem;
    margin-top: 0; /* Supprime la marge en haut */
    margin-bottom: 20rem; /* Supprime la marge en bas */
    text-align: left; /* Aligne le texte à gauche */
    width: 45%; /* Prend 45% de la largeur de l'élément parent */
}

  .contenue h3 {
    font-size: 2.5rem;
    color: var(--main-color);
    margin-top: 10rem; /* Utilise une marge négative pour remonter le texte */
    margin-left: 6rem; 
    margin-botom: 10rem;
}

.button-container {
  text-align: center; /* Centre le contenu horizontalement */
  margin-top: 2rem; /* Ajoute un peu d'espace au-dessus si nécessaire */
}

.contenue-btn {
  display: inline-block;
  padding: 1rem 2rem;
  background: var(--main-color);
  color: var(--second-color);
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 2rem;
  transition: .5s;
  text-decoration: none; /* Enlève le soulignement */
}
.contenue-btn:hover {
  background: var(--second-color);
  color: var(--main-color);
}
.contenue2 {
    display: flex;
    flex-direction: row; /* Change la direction en ligne */
    align-items: center; /* Centre verticalement les éléments */
    justify-content: space-between; /* Espace entre l'image et le texte */
    height: 80vh; /* Hauteur de la section */
    background-color: var( --main-color);
    padding: 0 2rem; /* Ajoute un peu de padding sur les côtés */
    margin-bottom: -20rem; /* Ajoute un espace en bas */
}

.contenue2 img {
    width: 100%; /* Prend 50% de la largeur de l'élément parent */
    height: 350px; /* Définit une hauteur fixe pour toutes les images */
    object-fit: cover; /* Assure que l'image couvre l'élément sans déformer le ratio */
    transition: transform 0.3s ease; /* Transition pour l'effet de survol */
    margin-top: 20rem; /* Ajuste la position de l'image */
    margin-left: 6rem;
}

.contenue2-txt {
    font-size: 1.5rem;
    margin-top: 0; /* Supprime la marge en haut */
    margin-bottom: 20rem; /* Supprime la marge en bas */
    text-align: left; /* Aligne le texte à gauche */
    width: 45%; /* Prend 45% de la largeur de l'élément parent */
}

@media (max-width: 1200px) {
  html {
    font-size: 56.25%;
  }
  .about-img img {
    margin-left: -10rem;
  }
  .contenue2-txt {
    margin-top: 15rem;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 50%;
  }
  .home {
    flex-direction: column;
    text-align: center;
    padding-top: 8rem;
  }
  .home-img-cerlce {
    width: 70vw;
    height: 50vw;
    margin-top: 3rem;
  }
  .about-content {
    flex-direction: column;
    gap: 5rem;
  }
  .portfolio-item {
    width: 80vw;
  }
  .contenue1,
  .contenue2 {
    flex-direction: column;
    height: auto;
    gap: 2rem;
  }
  .contenue1 img,
  .contenue2 img {
    margin: 0;
  }
  .contenue1-txt,
  .contenue2-txt {
    margin: 0;
    width: 90%;
    text-align: center;
  }
}

@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }
  .navbar {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: var(--bg-color);
    flex-direction: column;
  }
  .navbar a {
    margin: 2rem 0;
    display: block;
    text-align: center;
  }
  .portfolio-item img {
    height: auto;
  }
  .carousel-item {
    flex-direction: column;
  }
  .carousel-caption,
  .carousel-item img {
    width: 100%;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 45%;
  }
  .title {
    font-size: 6rem;
  }
  .title-text,
  .home h2,
  .home p,
  .about-text,
  .portfolio-item p,
  .portfolio-item span,
  .Mon_parcours p {
    font-size: 2rem;
  }
  .portfolio-item h2 {
    font-size: 2.5rem;
  }
  .contact h2 {
    font-size: 3.5rem;
  }
  .social-icons .icon a {
    font-size: 3.5rem;
  }
  .footer-text p {
    font-size: 2rem;
  }
}
